body {
    color: #808000; /* olive */
    font-size: 30pt;
}

#numer {
    color: silver;
}

p {
    font-size: 20pt;
}

/* naprzemienne kolory */
p:nth-child(even) {
    color: blue;
}

p:nth-child(odd) {
    color: purple;
}
